{% load static %}
<header class="blog-header">
    <div class="blog-header__container">
        <nav class="blog-header__nav">
            <a href="/blog/" class="blog-header__logo">Learn Hub</a>

            <ul class="blog-header__nav-list blog-header__nav-list--desktop">
                <li class="blog-header__nav-item">
                    <a href="/blog/"
                       class="blog-header__nav-link {% if request.path == '/blog/' %}blog-header__nav-link--active{% endif %}">
                        Ana Səhifə
                    </a>
                </li>
                <li class="blog-header__nav-item">
                    <a href="/blog/technology/"
                       class="blog-header__nav-link {% if request.path == '/blog/technology/' %}blog-header__nav-link--active{% endif %}">
                        Texnologiya
                    </a>
                </li>
                <li class="blog-header__nav-item">
                    <a href="/blog/about/"
                       class="blog-header__nav-link {% if request.path == '/blog/about/' %}blog-header__nav-link--active{% endif %}">
                        Haqqımızda
                    </a>
                </li>
                <li class="blog-header__nav-item">
                    <a href="{% url 'student_exam_list' %}"
                       class="blog-header__nav-link {% if request.resolver_match.url_name == 'student_exam_list' %}blog-header__nav-link--active{% endif %}">
                        Exams
                    </a>
                </li>
                
                <li class="blog-header__nav-item">
                    <a href="{% url 'subscribe' %}"
                       class="blog-header__nav-link blog-header__nav-link--primary {% if request.path == '/blog/subscribe/' %}blog-header__nav-link--active{% endif %}">
                        Abunə Ol
                    </a>
                </li>
            </ul>

            {# -------- SAĞ TƏRƏF: AUTH HİSSƏSİ -------- #}
            <div class="blog-header__auth">
                {% if request.user.is_authenticated %}
                    <div class="blog-header__user">
                        <button
                            type="button"
                            class="blog-header__user-toggle"
                            aria-haspopup="true"
                            aria-expanded="false"
                        >
                            <span class="blog-header__user-avatar">
                                {{ request.user.username|first|upper }}
                            </span>
                            <span class="blog-header__user-name">
                                {{ request.user.username }}
                            </span>
                            <span class="blog-header__user-caret">▾</span>
                        </button>

                        <div class="blog-header__user-menu">
                            <a href="{% url 'user_profile' request.user.username %}" class="blog-header__user-menu-item">
                                Profilim
                            </a>
                            <a href="{% url 'logout' %}" class="blog-header__user-menu-item">
                                Çıxış et
                            </a>
                        </div>
                    </div>
                {% else %}
                    <div class="blog-header__guest-actions">
                        <a href="{% url 'login' %}" class="blog-header__nav-link blog-header__nav-link--muted">
                            Daxil ol
                        </a>
                        <a href="{% url 'register' %}" class="blog-header__nav-link blog-header__nav-link--primary">
                            Qeydiyyat
                        </a>
                    </div>
                {% endif %}

                {# Burger button mobil üçün #}
                <button class="blog-header__toggle" type="button" aria-label="Menyunu aç/bağla">
                    <span class="blog-header__toggle-line"></span>
                    <span class="blog-header__toggle-line"></span>
                    <span class="blog-header__toggle-line"></span>
                </button>
            </div>

            
        </nav>
    </div>
</header>

{# Mobil menyu #}
<div class="mobile-nav-overlay"></div>
<ul class="blog-header__nav-list mobile-nav-panel">
    <li class="blog-header__nav-item">
        <a href="/blog/"
           class="blog-header__nav-link {% if request.path == '/blog/' %}blog-header__nav-link--active{% endif %}">
            Ana Səhifə
        </a>
    </li>
    <li class="blog-header__nav-item">
        <a href="/blog/technology/"
           class="blog-header__nav-link {% if request.path == '/blog/technology/' %}blog-header__nav-link--active{% endif %}">
            Texnologiya
        </a>
    </li>
    <li class="blog-header__nav-item">
        <a href="/blog/about/"
           class="blog-header__nav-link {% if request.path == '/blog/about/' %}blog-header__nav-link--active{% endif %}">
            Haqqımızda
        </a>
    </li>
    

    {# Mobil menyuda da auth hissəsi olsun #}
    {% if request.user.is_authenticated %}
    
        <li class="blog-header__nav-item">
            <a href="{% url 'user_profile' request.user.username %}" class="blog-header__nav-link">
                Profilim ({{ request.user.username }})
            </a>
        </li>
        <li class="blog-header__nav-item">
            <a href="{% url 'logout' %}" class="blog-header__nav-link">
                Çıxış et
            </a>
        </li>
    {% else %}
        <li class="blog-header__nav-item blog-header__nav-item--divider"></li>
        <li class="blog-header__nav-item">
            <a href="{% url 'login' %}" class="blog-header__nav-link">
                Daxil ol
            </a>
        </li>
        <li class="blog-header__nav-item">
            <a href="{% url 'register' %}" class="blog-header__nav-link">
                Qeydiyyat
            </a>
        </li>
    {% endif %}

    <li class="blog-header__nav-item">
        <a href="{% url 'subscribe' %}"
           class="blog-header__nav-link blog-header__nav-link--primary {% if request.path == '/blog/subscribe/' %}blog-header__nav-link--active{% endif %}">
            Abunə Ol
        </a>
    </li>
</ul>
