{% extends "base.html" %}
{% load static %}

{% block title %}{{ profile_user.username }} | Profil{% endblock %}

{% block extraCss %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="profile-page-wrapper">

    <header class="profile-section-header">
        <h1><span>{{ profile_user.username }}</span> Profili</h1>
        <p class="profile-subheading">İstifadəçinin yaratdığı məqalələr</p>

        {% if request.user.is_authenticated and request.user == profile_user %}
             <a href="{% url 'create_post' %}" class="profile-create-post-btn">
               <i class="fas fa-plus-circle"></i> Yeni post yarat
             </a>

             {% if request.user.is_teacher %}
                 <a href="{% url 'teacher_exam_list' %}" class="profile-create-post-btn">
                      <i class="fas fa-file-alt"></i> İmtahanlarım
                 </a>
                 <a href="{% url 'create_exam' %}" class="profile-create-post-btn">
                      <i class="fas fa-plus-square"></i> Yeni imtahan yarat
                 </a>
            {% endif %}
        {% endif %}


        {% comment %} {% if request.user.is_authenticated and request.user == profile_user %}
            {# Post yarat düyməsi #}
            <a href="{% url 'create_post' %}" class="profile-create-post-btn">
                <i class="fas fa-plus-circle"></i> Yeni post yarat
            </a>

            {# ƏGƏR teacher-dirsə, sual düymələri də görünsün #}
            {% if request.user.is_teacher %}
                <a href="{% url 'create_question' %}" class="profile-create-post-btn">
                    <i class="fas fa-question-circle"></i> Yeni sual yarat
                </a>
                <a href="{% url 'my_questions' %}" class="profile-create-post-btn">
                    <i class="fas fa-list"></i> Mənim suallarım
                </a>
            {% endif %}
        {% endif %} {% endcomment %}


    </header>

    <section class="profile-posts-section">
        {% if posts %}
            {% for post in posts %}
                <article class="profile-post-card">
                    <h3>
                        <a href="{% url 'post_detail' post.slug %}">
                            {{ post.title }}
                        </a>
                    </h3>
                    <p>{{ post.excerpt|default:post.content|truncatewords:25 }}</p>
                    <small>📅 {{ post.created_at|date:"d M Y" }}</small>
                </article>
            {% endfor %}
        {% else %}
            <p class="profile-no-posts-message">Bu istifadəçinin hələ heç bir postu yoxdur.</p>
        {% endif %}
    </section>

</div>
{% endblock %}
